@font-face{
    font-family: 'slabo'; 
    src: url('../fonts/Slabo27px-Regular.ttf'); 
}

* {
    margin: 0;
    padding: 0;
}


em{
    font-style: normal;
}


a, p{
    text-decoration: none;
    font-size: 20px;
    font-family: 'slabo';
}


h1{
    font-size: 40px;
    font-family: 'slabo';
    font-weight: bold;
    text-align: center;
}


/* Menu */
#menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}
    /* Menu - Logo */
#menu-logo{
    width: 30%;
}
#menu-logo img{
    width: 100%;
}
    /* Menu - Items */
#menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding-top: 20px;
}
#menu-container div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}   
#menu-container a{
    color: #A96107;
    font-size: 20px;
}
#menu-container a em{
    text-decoration: underline 2.5px dashed;
    text-decoration-color: #EEBB11;
    font-weight: bold;
}
#menu-container a:hover{
    color: #c98634;
}
    /* Menu - Button */
.button{
    display: none;
}


/* Footer */
footer{
    background-color: #1D1D2C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: white 2px dashed;
}
    /* Footer - Text */
footer a, p{
    font-size: 16px;
    font-family: 'slabo';
    color: #FFFFFF;
    margin-bottom: 10px;
}
footer a:hover{
    text-decoration: underline;
    font-weight: bold;
}




@media screen and (min-width: 850px){

/* Menu */
#menu{ 
    flex-direction: row;
    justify-content: space-around;  
    padding-bottom: 0;
}
    /* Menu - Logo */
#menu-logo{
    width: 200px;
}    
    /* Menu - Items */
#menu-container {
    width: 60%;
    padding-top: 0;
}
    /* Menu - Button */
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2% 1% 2%; 
    background-color: #33B084;
    border-radius: 24px;
}
.button:hover{
    background-color: #006F62;
}
.button p{
    color: #F7F4E9;
    font-family: 'slabo';
    font-weight: bold;
    margin: 0;
}


/* Footer */
footer{
    padding-top: 30px;
    flex-direction: row-reverse;
    justify-content: space-around;
}


}