/* Dans le cadre de la formation Openclassroom, ce fichier est la copie du fichier tp_final/style.css, il est modifié pour devenir celui du future site web Quiet cook */
/* 1 - Définition des polices personnalisées */

/* 1 - a) Déclaration de la police personnalisée (exotique) BallparkWeiner */
@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* 1 - b) Déclaration de la police personnalisée (exotique) Day Roman) */
@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 2 - Eléments principaux de la page */
/* 2 - a) Pour l'élément sélectionné, définir une image de fond, des polices et une couleur de texte par défaut. */
body
{
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}
/* 2 - b) Pour l'élément sélectionné, définir la largeur de la page et la centrer à l'écran. */
#bloc_page
{
    width: auto;
    margin: auto;
}
/* 2 - c) Pour les éléments sélectionnés, définir des polices. */
section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    //text-transform: uppercase;
}

/* 3 - Header */
/* 3 - a) définir l'en-tête et, en particulier, le logo en haut à gauche. */
header
{
    margin-top: 0px;
    height: 136px;
    width: 604px;
    border-radius: 5px;
    background: url('images/quietcook-01a.jpg') no-repeat;
    background-position: center;
    margin: auto;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 0px;
}


/* 4 - Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #181818;
}

/* Bannière */
#banniere_image
{
    
}


.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 18px;
}

article p
{
    font-size: 1.2em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.94em;
}
aside p img
{
	width: 300px;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_regis
{
    text-align: center;
}

#photo_regis img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 15px;
}

/* Footer */

footer
{
    display: flex;
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 15px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#mes_photos
{
    width: 59%;
}

#mes_amis
{
    width: 45%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#listes_amis
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_amis ul
{
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}photo
