.DBRISLinks-block {
  display: block;
  overflow: hidden;
  width: 100%;
  //background: #ececec;
  margin: 2vW;
}
.DBRISLinks-Title{
	padding-top:2VW;
	font-size: 2vW;
	font-weight: bold;
	font-family: Georgia, "Book Antiqua", "Times New Roman", serif;
	color: #81342b;
	text-align: center;
	text-transform: uppercase;
}
.DBRIS-Block-Website {
  display: block;
  float: left;
  height: 8VW;
  width: 45%;
  max-width: 88vW;
  padding: 1VW;
  overflow: hidden;
  font-family:  Arial, Helvetica, sans-serif;
  text-align: left;
}
.DBRIS-Block-Website DIV a:hover {
  text-decoration: underline;
}
.DBRIS-Block-Website-Img {
  display: block;
  float: left;
  width: 6VW;
  height: 8VW;
  padding-right: 1VW;
}
.DBRIS-Block-Website-Img img {
  float: right;
  max-height: 7vW;
  max-width: 7vW;
  min-width: 3vW;
  box-shadow: -0.1vW 0.1vW 0.5vW 0vW #777 ; 
}
.DBRIS-Block-Website-Title {
  width: auto;
  height: 1.9VW;
  font-size: 1.5vW;
  color: #81342b;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.DBRIS-Block-Website-Title a {
  color: #81342b;
}
.DBRIS-Block-Website-Link {
  width: auto;
  height: 1.6VW;
  font-size: 1.2vW;
  color: #555;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.DBRIS-Block-Website-Description {
  font-size: 1vW;
  color: #81342b;
  word-wrap: break-word;
  width: auto;
  word-wrap: break-word;
  max-height: 4VW;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.DBRIS-Block-Website-ImageLink {
  font-size: 1.2vW;
  color: #555;
  padding-top: 0.2vw;
}
