/* Fix #T1, #T3 */
@media screen and (min-width: 1600px) {
  div.BuyCategories-Holder {
    grid-template-areas:
      "masterpiece masterpiece masterpiece masterpiece popart popart popart popart quotation quotation quotation quotation"
      "faq faq faq showcase showcase showcase photos photos photos museum museum museum"
      "inspiration inspiration inspiration inspiration rooms rooms rooms rooms gifts gifts gifts gifts"
      "portfolios portfolios portfolios category category category mural mural mural timeline timeline timeline "
      "countries countries countries countries favourite favourite favourite favourite artists artists artists artists";
    grid-template-columns: repeat(12, 1fr);
  }
  div.BuyCategories-Holder > a div.BuyCategories-item {
    font-size: 1vw;
  }
  div.BuyCategories-Holder > a div.BuyCategories-item p {
    text-shadow: 0 0 1px #fff;
    padding-top: 0.3vw;
    font-size: 0.9vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  div.BuyCategories-Holder > a div.BuyCategories-item h2 {
    font-size: 1.5vw;
    text-transform: unset;
  }
  div.BuyCategories-Holder > a div.BuyCategories-item h2 > span {
    font-size: 1.9vw;
    text-transform: uppercase;
  }
  /* Three Twelfths */
  .BuyCategories-Holder > a .BuyCategories-item.three-twelfth p {
    padding-top: 0.3vw;
    font-size: 0.75vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-shadow: none;
  }
  .BuyCategories-Holder > a .BuyCategories-item.three-twelfth h2 {
    font-size: 1.1vw;
    text-transform: unset;
  }
  .BuyCategories-Holder > a .BuyCategories-item.three-twelfth h2 > span {
    font-size: 1.5vw;
    text-transform: uppercase;
  }
}
.WA-Home-MainTable-RightColumn {
  padding-left: 10px !important;
}
.BuyCategories-Holder {
  box-sizing: border-box;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "masterpiece masterpiece masterpiece popart popart popart"
    "quotation quotation faq faq showcase showcase"
    "photos photos photos museum museum museum"
    "inspiration inspiration rooms rooms gifts gifts"
    "portfolios portfolios portfolios category category category"
    "mural mural timeline timeline countries countries"
    "favourite favourite favourite artists artists artists";
  padding-right: 10px;
}
.BuyCategories-item {
  position: relative;
  box-sizing: border-box;
  background-color: #eab669;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 56.757%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 1vw;
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
    0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
    0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.BuyCategories-item p,
.BuyCategories-item h2 {
  position: absolute;
  z-index: 10;
}
.BuyCategories-item p {
  top: 0;
  left: 38%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 2.5%;
  font-size: 1.2vw;
  text-shadow: 0 0 1px #fff;
}
.BuyCategories-item h2 {
  bottom: 0;
  right: 0;
  text-shadow: 0 0 10px #8b3901;
  text-align: right;
  font-family: "HelveticaNeue-Light", Verdana, Geneva, Arial, Helvetica,
    sans-serif;
  font-weight: 500;
  font-size: 2.5vw;
  padding-right: 3.5%;
  text-transform: uppercase;
}
.BuyCategories-item h2 > span {
  text-shadow: 0 0 10px #7f653d;
  color: #d2d5d5;
  outline: none;
}
.BuyCategories-item:hover h2 > span {
  color: #f1f1f2;
}
.BuyCategories-Holder > a:nth-of-type(1) {
  grid-area: masterpiece;
}
.BuyCategories-Holder > a:nth-of-type(1) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_masterpiece_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(1) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_masterpiece_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(2) {
  grid-area: popart;
}
.BuyCategories-Holder > a:nth-of-type(2) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_pop_art_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(2) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_pop_art_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(3) {
  grid-area: quotation;
}
.BuyCategories-Holder > a:nth-of-type(3) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_quatation_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(3) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_quatation_hover_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(3) .BuyCategories-item > p {
  left: 40% !important;
}
/*  */
.BuyCategories-Holder > a:nth-of-type(4) {
  grid-area: faq;
}
.BuyCategories-Holder > a:nth-of-type(4) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_faq_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(4) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_faq_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(5) {
  grid-area: showcase;
}
.BuyCategories-Holder > a:nth-of-type(5) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_wahooart_showcase_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(5) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_wahooart_showcase_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(6) {
  grid-area: photos;
}
.BuyCategories-Holder > a:nth-of-type(6) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_photos_to_painting_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(6) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_photos_to_painting_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(7) {
  grid-area: museum;
}
.BuyCategories-Holder > a:nth-of-type(7) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_museum_reproduction_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(7) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_museum_reproduction_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(8) {
  grid-area: inspiration;
}
.BuyCategories-Holder > a:nth-of-type(8) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_inspiration_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(8) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_inspiration_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(9) {
  grid-area: rooms;
}
.BuyCategories-Holder > a:nth-of-type(9) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_rooms_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(9) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_rooms_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(10) {
  grid-area: gifts;
}
.BuyCategories-Holder > a:nth-of-type(10) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_gifts_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(10) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_gifts_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(11) {
  grid-area: portfolios;
}
.BuyCategories-Holder > a:nth-of-type(11) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_artists_portfolios_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(11) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_artists_portfolios_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(12) {
  grid-area: category;
}
.BuyCategories-Holder > a:nth-of-type(12) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_art_by_category_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(12) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_art_by_category_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(13) {
  grid-area: mural;
}
.BuyCategories-Holder > a:nth-of-type(13) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_mural_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(13) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_mural_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(14) {
  grid-area: timeline;
}
.BuyCategories-Holder > a:nth-of-type(14) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_art_timeline_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(14) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_art_timeline_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(15) {
  grid-area: countries;
}
.BuyCategories-Holder > a:nth-of-type(15) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_museums_by_countries_cities_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(15) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_museums_by_countries_cities_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(16) {
  grid-area: favourite;
}
.BuyCategories-Holder > a:nth-of-type(16) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_most_favourite_art_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(16) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_most_favourite_art_hover_bg.jpg);
}
/*  */
.BuyCategories-Holder > a:nth-of-type(17) {
  grid-area: artists;
}
.BuyCategories-Holder > a:nth-of-type(17) .BuyCategories-item {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_most_favourite_artists_bg.jpg);
}
.BuyCategories-Holder > a:nth-of-type(17) .BuyCategories-item:hover {
  background-image: url(https://wahooart.com/Art.nsf/BuyCategories_most_favourite_artists_hover_bg.jpg);
}
@media screen and (max-width: 1599px) {
  /* Three Sixths */
  .BuyCategories-Holder > a .BuyCategories-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .BuyCategories-Holder > a .BuyCategories-item.three-sixth p {
    padding-top: 0.3vw;
    font-size: 0.9vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-shadow: none;
  }
  .BuyCategories-Holder > a .BuyCategories-item.three-sixth h2 {
    font-size: 1.5vw;
    text-transform: unset;
  }
  .BuyCategories-Holder > a .BuyCategories-item.three-sixth h2 > span {
    font-size: 1.9vw;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1100px) {
  div.BuyCategories-Holder > a div.BuyCategories-item p {
    -webkit-line-clamp: 5;
    top: -0.4vw;
    font-size: 1.4vw;
  }
  div.BuyCategories-Holder > a div.BuyCategories-item.three-sixth p {
    -webkit-line-clamp: 4;
    top: -0.4vw;
    font-size: 1.1vw;
  }
  .BuyCategories-Holder > a .BuyCategories-item h2 {
    bottom: -1.6vw;
  }
  .BuyCategories-Holder > a .BuyCategories-item.three-sixth h2 {
    bottom: -0.8vw;
  }
}
@media screen and (max-width: 1000px) {
  div.BuyCategories-Holder > a div.BuyCategories-item p {
    -webkit-line-clamp: 4;
  }
  div.BuyCategories-Holder > a div.BuyCategories-item.three-sixth p {
    -webkit-line-clamp: 3;
  }
}
@media screen and (max-width: 950px) {
  div.BuyCategories-Holder {
    grid-template-areas:
      "masterpiece"
      "popart"
      "quotation"
      "faq"
      "showcase"
      "photos"
      "museum"
      "inspiration"
      "rooms"
      "gifts"
      "portfolios"
      "category"
      "mural"
      "timeline"
      "countries"
      "favourite"
      "artists";
    grid-template-columns: 1fr;
  }
  div.BuyCategories-Holder > a div.BuyCategories-item {
  }
  div.BuyCategories-Holder > a div.BuyCategories-item p,
  div.BuyCategories-Holder > a div.BuyCategories-item.three-sixth p {
    -webkit-line-clamp: 6;
    top: 0;
    font-size: 1.9vw;
    text-shadow: none;
  }
  .BuyCategories-Holder > a .BuyCategories-item h2,
  .BuyCategories-Holder > a .BuyCategories-item.three-sixth h2 {
    font-size: 3vw;
    bottom: 0;
  }
  .BuyCategories-Holder > a .BuyCategories-item h2 > span,
  .BuyCategories-Holder > a .BuyCategories-item.three-sixth h2 > span {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 699px) {
  .BuyCategories-Holder > a:nth-of-type(8) .BuyCategories-item h2,
  .BuyCategories-Holder > a:nth-of-type(8) .BuyCategories-item.three-sixth h2,
  .BuyCategories-Holder > a:nth-of-type(9) .BuyCategories-item h2,
  .BuyCategories-Holder > a:nth-of-type(9) .BuyCategories-item.three-sixth h2,
  .BuyCategories-Holder > a:nth-of-type(10) .BuyCategories-item h2,
  .BuyCategories-Holder > a:nth-of-type(10) .BuyCategories-item.three-sixth h2 {
    top: 9%;
  }
  div.BuyCategories-Holder > a div.BuyCategories-item p,
  div.BuyCategories-Holder > a div.BuyCategories-item.three-sixth p {
    display: none;
  }
  .BuyCategories-Holder > a .BuyCategories-item h2,
  .BuyCategories-Holder > a .BuyCategories-item.three-sixth h2 {
    font-size: 8vw;
    bottom: 0;
    top: 20%;
    right: 4%;
  }
  .BuyCategories-Holder > a .BuyCategories-item h2 > span,
  .BuyCategories-Holder > a .BuyCategories-item.three-sixth h2 > span {
    font-size: 8vw;
  }
}
/* Fix #T4, #T11 */
.WA-Home-MainTable-RightColumn {
  padding: 2vw 0vw 0 2vw !important;
}
.WA-HomePage-MPA-T.BuyPage-heading.BuyPage-font30.BuyPage-dtd-brdr {
  padding-left: 15px;
}
#most-popular-artworks-wrapper {
  margin-top: 25px;
  padding: 20px 0;
  background-color: rgb(220, 205, 183);
}
.HomePage_Artists {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.HomePage_Artists::after {
  content: "";
  flex: auto;
}
/* Fix #T6 */
.container.clearfix.centering-box {
  width: 100%;
  box-sizing: border-box;
  display: grid; /* 1 */
  /* grid-template-columns: repeat(auto-fill, 340px); */
  grid-gap: 0; /* 3 */
  justify-content: center; /* 4 */
  padding: 20px 0;
}
.ShopInspiration-box,
.ShopByRoom-box,
.ShopByGift-box {
  margin: 0;
  padding: 0;
}
@media (min-width: 700px) {
  .container.clearfix.centering-box {
    grid-template-columns: repeat(auto-fill, 230px);
  }
}
@media (min-width: 1200px) {
  .container.clearfix.centering-box {
    grid-template-columns: repeat(auto-fill, 280px);
  }
}
@media (min-width: 1800px) {
  .container.clearfix.centering-box {
    grid-template-columns: repeat(auto-fill, 340px);
  }
}
/* Fix #T8 */
.articles-page-bg:not(#showcase) > div:not(.SitePagesFooter) {
  width: 100%;
  box-sizing: border-box;
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 348px);
  grid-column-gap: 25px; /* 3 */
  justify-content: center; /* 4 */
  padding: 20px 0;
}
.articles-page-main-Div-tab-box {
  margin: 0;
  padding: 0;
  padding-right: 0 !important;
}
/* Fix #T10 #T13*/
.category-content-border > .ArtShopReviews-Container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
}
.category-content-border
  > .ArtShopReviews-Container
  > .ArtShopReviews-Review-Block {
  min-width: unset;
  margin: 0;
  width: 100%;
  height: auto;
}
div.CustomersReviews-HomePage-Single-Review-Information {
  display: flex;
  flex-direction: column;
  margin: 3% 3% 3% 3%;
}
div.CustomersReviews-HomePage-Single-Review-Information > div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
span.CustomersReviews-HomePage-Single-Review-Information-Country_Date {
  max-width: unset;
  position: static;
  line-height: unset;
  height: unset;
}
span.CustomersReviews-HomePage-Single-Review-Information-Country_Date::before {
  display: none;
}
span.CustomersReviews-HomePage-Single-Review-Information-DisplayName {
  padding-right: 0;
}
div.ArtShopReviews-Review-Text {
  margin: 3% 3% 3% 3%;
}
div.CustomersReviews-HomePage-Single-Review-Information-NewLine {
  padding-top: 0;
}
@media (max-width: 1280px) {
  .category-content-border > .ArtShopReviews-Container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .category-content-border > .ArtShopReviews-Container {
    grid-template-columns: 1fr;
  }
}
/* Fix #T9, #M39*/
.AllPages-Table1
  > tbody
  > tr
  > td:nth-of-type(2)
  > table
  > tbody
  > tr:nth-of-type(5)
  > td {
  display: flex;
  justify-content: center;
  height: 60px;
}
.AllPages-Table1
  > tbody
  > tr
  > td:nth-of-type(2)
  > table
  > tbody
  > tr:nth-of-type(5)
  > td
  > a:articles-page-button {
  margin: 0;
}
@media (max-width: 1200px) and (min-width: 700px) {
  .AllPages-Table1 > tbody > tr {
    display: flex;
    flex-direction: column;
  }
  .AllPages-Table1 > tbody > tr > td:nth-of-type(1) {
    padding-right: 0 !important;
  }
  .AllPages-Table1 > tbody > tr > td:nth-of-type(2) {
    width: 100vw !important;
    padding-top: 50px;
    background: url(https://wahooart.com/Art.nsf/articles-page-bg.jpg) repeat;
  }
  .AllPages-Table1
    > tbody
    > tr
    > td:nth-last-of-type(2)
    > table
    > tbody
    > tr:nth-of-type(1)
    > td
    > table {
    width: 100vw !important;
  }
  .AllPages-Table1
    > tbody
    > tr
    > td:nth-last-of-type(2)
    > table
    > tbody
    > tr:nth-of-type(1)
    > td
    > table
    > tbody
    > tr {
    display: flex;
    padding-left: 25px;
  }
  .AllPages-Table1
    > tbody
    > tr
    > td:nth-last-of-type(2)
    > table
    > tbody
    > tr:nth-of-type(1)
    > td
    > table
    > tbody
    > tr
    > td:last-of-type {
    width: auto;
  }
  .AllPages-Table1
    > tbody
    > tr
    > td:nth-last-of-type(2)
    > table
    > tbody
    > tr:nth-of-type(3)
    > td {
    display: grid;
    /* grid-gap: 20px; */
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .AllPages-Table1
    > tbody
    > tr
    > td:nth-last-of-type(2)
    > table
    > tbody
    > tr:nth-of-type(3)
    > td
    > div.articles-page-main-Div-tab-box
    > table.articles-page-main-tab-box {
    margin: auto;
  }
}
@media (max-width: 1100px) {
  .AllPages-Table1
    > tbody
    > tr
    > td:nth-last-of-type(2)
    > table
    > tbody
    > tr:nth-of-type(3)
    > td {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }
  .AllPages-Table1
    > tbody
    > tr
    > td:nth-of-type(2)
    > table
    > tbody
    > tr:nth-of-type(5)
    > td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .AllPages-Table1
    > tbody
    > tr
    > td:nth-last-of-type(2)
    > table
    > tbody
    > tr:nth-of-type(3)
    > td
    > div.articles-page-main-Div-tab-box:nth-of-type(2n)
    > table.articles-page-main-tab-box {
    margin: unset;
  }
  .AllPages-Table1
    > tbody
    > tr
    > td:nth-last-of-type(2)
    > table
    > tbody
    > tr:nth-of-type(3)
    > td
    > div.articles-page-main-Div-tab-box:nth-of-type(2n + 1)
    > table.articles-page-main-tab-box {
    float: right;
  }
  .AllPages-Table2A > tbody > tr:first-of-type {
    display: none;
  }
  .AllPages-TR5 {
    display: none;
  }
  .AllPages-Table2A > tbody > tr > td:first-of-type,
  .AllPages-Table2A > tbody > tr > td:last-of-type {
    visibility: hidden;
  }
  .articles-page-bg {
    background: url(https://wahooart.com/Art.nsf/articles-page-box-bg.png)
      repeat;
  }
  .AllPages-Table1 > tbody > tr:last-of-type > td:last-of-type {
    display: none;
  }
}
/* Fix #T12 */
@media (max-width: 1100px) and (min-width: 700px) {
  .category-box-heading {
    padding-right: 25px;
  }
  .category-text {
    margin-left: 20px;
  }
}
@media (max-width: 768px) and (min-width: 700px) {
  .category-box-heading {
    font-size: 30px;
  }
}
/* Fix #T5 */
@media (max-width: 995px) and (min-width: 700px) {
  #sliderFrame {
    width: 100vw;
  }
  #sliderFrame > #slider {
    width: 100vw;
  }
  #sliderFrame > #slider > * {
    display: none;
  }
  .upload > .scroll-horizontal {
    overflow: hidden;
    width: 100vw;
    display: none;
  }
  .BuyCustom-PromotionBox-Table .BuyCustom-PromotionBox-RightPart {
    font-size: 14px;
  }
  .BuyCustom-PromotionBox-Table > tbody > tr > td > img {
    width: 90%;
    height: auto;
  }
  .CartRight > .WeAcceptCards > li > .DiversImages {
    width: 90% !important;
    height: auto;
  }
}
/* Fix #T7: WebAllU */
/* Section 1 */
@media (max-width: 1100px) and (min-width: 700px) {
  div.ArtsDot-Promotion-Bar-Block + table > tbody > tr:first-of-type {
    display: block;
    width: 100vw;
  }
  .WebListePortfolio-ArtistsInitialsList-BG {
    width: 100vw;
  }
  .WebListePortfolio-ArtistsInitialsList-BG > table {
    width: 100%;
  }
  td:nth-of-type(2).WebListePortfolio-ArtistsInitialsList-pagi-bg
    > table
    > tbody
    > tr:first-of-type {
    display: flex;
    justify-content: space-evenly;
  }
  td:nth-of-type(2).WebListePortfolio-ArtistsInitialsList-pagi-bg
    > table
    > tbody
    > tr:first-of-type
    > td.WebListePortfolio-ArtistsInitialsList-BulletSeparator {
    display: flex;
    width: auto;
    align-items: center;
    padding: 0;
    background: none;
  }
  /* td:nth-of-type(2).WebListePortfolio-ArtistsInitialsList-pagi-bg
    > table
    > tbody
    > tr:first-of-type
    > td.WebListePortfolio-ArtistsInitialsList-BulletSeparator::after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-image: url(https://wahooart.com/Art.nsf/WebListePortfolio-pagi-bullet.png);
    background-size: cover;
    margin: 0;
    z-index: 10;
  } */
  td:nth-of-type(2).WebListePortfolio-ArtistsInitialsList-pagi-bg
    > table
    > tbody
    > tr:first-of-type
    > td.WebListePortfolio-ArtistsInitialsList-BulletSeparator
    > a {
    font-size: 1.25vw;
    display: block;
    color: #eae8d2;
  }
  /* Section 2 */
  div.ArtsDot-Promotion-Bar-Block + table > tbody > tr:nth-of-type(2) {
    width: 100vw;
    display: block;
  }
  td.WebListePortfolio-ArtMovementLinks-Top > img {
    width: 100vw;
  }
  /* Section 3 Categories List*/
  div.ArtsDot-Promotion-Bar-Block + table > tbody > tr:nth-of-type(3) {
    width: 100vw;
    display: block;
  }
  td.WebListePortfolio-ArtMovementLinksContainer {
    width: 100vw;
    background-size: contain;
    display: block;
  }
  td.WebListePortfolio-ArtMovementLinksContainer > ul {
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    box-sizing: border-box;
    margin-left: 5vw;
  }
  td.WebListePortfolio-ArtMovementLinksContainer > ul > li {
    width: auto;
  }
  /* Section 4 */
  /* The rest */
  div.ArtsDot-Promotion-Bar-Block + table > tbody > tr:nth-of-type(4) {
    width: 100vw;
    display: block;
  }
  .WebListePortfolio-Globe-BG {
    width: 100vw;
    display: block;
  }
  .WebListePortfolio-Globe-BG > tbody {
    width: 100vw;
    display: block;
  }
  .WebListePortfolio-Globe-BG > tbody > tr {
    width: 100vw;
    display: block;
  }
  .WebListePortfolio-Globe-BG > tbody > tr > td {
    width: 100vw;
    display: block;
  }
  /* Brown bottom border */
  .WebListePortfolio-Globe-BG > tbody > tr:nth-of-type(1) {
    width: 100vw;
  }
  td.WebListePortfolio-am-bottom {
    width: 100vw;
  }
  td.WebListePortfolio-am-bottom > img {
    width: 100vw;
  }
  /* Dial */
  td.WebListePortfolio-am-bottom > div {
    display: flex;
    justify-content: center;
    height: 0px;
    margin: 0;
    visibility: hidden;
  }
  td.WebListePortfolio-am-bottom > div > img.WebListePortfolio-am-pandle {
    left: unset;
    visibility: visible;
  }
  /* Yellow years */
  .WebListePortfolio-Globe-BG > tbody > tr:nth-of-type(2) {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: -0.75vw;
  }
  .WebListePortfolio-brand-panel {
    width: 95vw !important;
    display: block;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-size: cover;
  }
  .WebListePortfolio-brand-panel > table {
    width: 95vw;
    display: block;
  }
  .WebListePortfolio-brand-panel > table > tbody > tr {
    display: grid;
    grid-template-columns: 1fr 190px 1fr;
    width: 95vw;
  }
  .WebListePortfolio-brand-panel > table > tbody > tr > td:nth-of-type(1) {
    width: auto;
  }
  .WebListePortfolio-brand-panel > table > tbody > tr > td:nth-of-type(2) {
  }
  .WebListePortfolio-brand-panel > table > tbody > tr > td:nth-of-type(3) {
    width: auto;
  }
  /* Countries */
  table.WebListePortfolio-Globe-BG > tbody > tr:nth-of-type(6) > td {
    overflow: hidden;
  }
  .WebListePortfolio-Artists-countries-list {
    width: 90vw !important;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    display: grid;
    grid-template-columns: repeat(4, auto);
    float: unset !important;
    position: relative;
    left: 3vw;
    overflow: hidden;
  }
  .WebListePortfolio-Artists-countries-list > li {
    width: auto !important;
    box-sizing: border-box;
  }
  .WebListePortfolio-Artists-countries-list > li > a {
    box-sizing: border-box;
  }
  /* Museum */
  table#museum-page > tbody {
    width: 100vw;
    display: block;
  }
  table#museum-page > tbody > tr {
    width: 100vw;
    display: block;
  }
  table#museum-page > tbody > tr:nth-of-type(7) > td {
    width: 100vw;
    display: block;
  }
  table#museum-page > tbody > tr:nth-of-type(7) > td > table {
    width: 100vw;
    display: block;
  }
  .WebListePortfolio-artists-table-bg {
    width: 100vw;
    display: block;
  }
  /* All themes */
  .WA-BC-Column-Left * {
    box-sizing: border-box;
  }
  .WA-BC-Column-Left > tbody > tr {
    width: 100vw;
    display: block;
    display: flex;
  }
  /* All-Styles #P1 */
  .WA-BC-Column-Left > tbody > tr > td:nth-of-type(1) {
    /* width: 50vw; */
  }
  .WA-BC-Column-Left > tbody > tr > td:nth-of-type(2) {
    width: 1vw;
  }
  .HomePage_Artists > li {
    margin: 5px;
  }
  .WA-BC-Column-Left > tbody > tr > td:nth-of-type(3) {
    /* width: 49vw; */
    display: block;
    padding: 7px !important;
  }
  .HomePage-AllColors-Palette {
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  .BoxAboutUs-Container {
    height: unset !important;
  }
  /* All-Colors: #P3.1 */
  .BoxAboutUs-Container,
  .BoxAboutUs-Container > tbody,
  .BoxAboutUs-Container > tbody > tr,
  .BoxAboutUs-Container > tbody > tr > td {
    /* width: 45.5vw; */
    width: 100%;
    display: block;
  }
  .BoxAboutUs-Container > tbody > tr > td > div {
    min-width: unset !important;
    width: 100% !important;
    /* width: 45.5vw !important; */
  }
  .BoxAboutUs-Container > tbody > tr > td > div > table {
    /* width: 45.5vw; */
    width: 100%;
    display: block;
    margin-left: -20px;
  }
  .WA-Art-SearchBoxes > tbody > tr:last-of-type > td {
    text-align: left;
  }
  .WA-Art-SearchBoxes > tbody > tr:last-of-type > td > * {
    width: 90%;
  }
  input.SearchBoxHome {
    font-size: 1.9vw;
  }
  /* WebAllUQuery */
  table.WebListePortfolio-artists-heading-Table {
    width: 30vw !important;
  }
  .WebListePortfolio-artists-heading-Table > tbody > tr {
    display: block;
    width: 30vw;
  }
  .WebListePortfolio-artists-heading-Table > tbody > tr > td {
    width: 30vw;
    display: block;
    box-sizing: border-box;
  }
  .WebListePortfolio-artists-heading-Table > tbody > tr > td > a {
    width: 30vw;
  }
  .WebListePortfolio-artists-heading-Table > tbody > tr > td > img {
    width: 30vw !important;
    display: block;
  }
  .WebListePortfolio-artists-table-width > tbody > tr > td:first-of-type {
    display: block;
  }
  .WebListePortfolio-artists-table-width > tbody > tr {
    display: flex;
  }
  .WebListePortfolio-artists-table-width
    > tbody
    > tr
    > td:first-of-type
    > table {
    display: block;
    width: max-content;
  }
  #web-u-all-query .WebListePortfolio-artists-table-bg {
    display: block;
  }
  #web-u-all-query .WebListePortfolio-artists-table-bg > tbody {
    width: 100vw;
    display: block;
  }
  #web-u-all-query .WebListePortfolio-artists-table-bg > tbody > tr {
    width: 100vw;
    display: block;
  }
  #web-u-all-query .WebListePortfolio-artists-table-bg > tbody > tr > td {
    width: 100vw;
    display: block;
  }
  #web-u-all-query .WebListePortfolio-artists-table-bg > tbody {
    width: 100vw;
  }
  .WebListePortfolio-artists-table-width {
    width: 100vw;
    display: block;
  }
  .WebListePortfolio-artists-Bio-TD {
    width: 44vw;
  }
  .WebListePortfolio-artists-heading > a {
    font-size: 2vw;
  }
  .WebListePortfolio-artists-Bio-heading {
    font-size: 2.5vw;
  }
  .WebListePortfolio-artists-table-width {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 900px) and (min-width: 700px) {
  table.WebListePortfolio-artists-heading-Table {
    width: 20vw !important;
  }
  .WebListePortfolio-artists-heading-Table > tbody > tr {
    display: block;
    width: 20vw;
  }
  .WebListePortfolio-artists-heading-Table > tbody > tr > td {
    width: 20vw;
    display: block;
    box-sizing: border-box;
  }
  .WebListePortfolio-artists-heading-Table > tbody > tr > td > a {
    width: 20vw;
  }
  .WebListePortfolio-artists-heading-Table > tbody > tr > td > img {
    width: 20vw !important;
    display: block;
  }
  .WebListePortfolio-artists-Bio-TD {
    width: 44vw;
  }
  /* All-Colors: #P1 */
  .HomePage_Artists {
    justify-content: space-around;
  }
  .HomePage_Artists::after {
    display: none;
  }
  /* 
  .WA-BC-Column-Left > tbody> tr {
    flex-direction: column-reverse;
  }
  .WA-BC-Column-Left > tbody> tr > td:nth-of-type(1), .WA-BC-Column-Left > tbody> tr > td:nth-of-type(3) {
    width: 100vw;
  }
  
  
  .WA-HomePage-LeftColumn-MPA > tbody > tr > td > table{
    width: 100vw;
  }
  
  .BoxAboutUs-Container {
    width: 100vw;
  }
  
  .BoxAboutUs-Container .BoxAboutUs-Heading{
    width: 100vw;
  } */
}
@media (max-width: 800px) and (min-width: 700px) {
  /* All themes */
  .BoxAboutUs-Heading-1-Floor-Title {
    padding-top: 5px;
    font-size: 27px;
  }
}
@media (max-width: 768px) and (min-width: 700px) {
  /* Dial */
  td.WebListePortfolio-am-bottom > div > img.WebListePortfolio-am-pandle {
    margin-top: -10px;
  }
}
/* Penultimate test issues */
/* Home #P2 */
@media screen and (max-width: 950px) and (max-height: 699px) {
  div.BuyCategories-Holder > a div.BuyCategories-item p,
  div.BuyCategories-Holder > a div.BuyCategories-item.three-sixth p,
  div.BuyCategories-Holder > a div.BuyCategories-item.three-twelfth p {
    -webkit-line-clamp: 5 !important;
  }
}
@media screen and (max-width: 767px) {
  div.BuyCategories-Holder > a div.BuyCategories-item p,
  div.BuyCategories-Holder > a div.BuyCategories-item.three-sixth p,
  div.BuyCategories-Holder > a div.BuyCategories-item.three-twelfth p {
    -webkit-line-clamp: 4 !important;
  }
}
@media screen and (max-width: 767px) {
  /* Home #P1 */
  div.WahooArt-title-text > h1.title {
    font-size: 96% !important;
  }
  /* Home #P3 */
  .BoxAboutUs-Heading-1-Floor-Title {
    padding-top: 10px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 700px) {
  /* Home #P4 */
  .WA-Art-SearchBoxes {
    margin-left: -8vw;
  }
}
@media screen and (max-width: 800px) and (min-width: 700px) {
  /* Buy-Photo-To-Painting #P1 */
  div.WahooArt-title-text > h1.title {
    margin-top: 5px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 700px) {
  /* All-Colors: #P2 */
  .WA-HomePage-LeftColumn-MPA > tbody > tr > td:nth-of-type(1),
  .WA-BC-Column-Left > tbody > tr > td:nth-of-type(3) {
    padding: 0px !important;
  }
  .BuyPage-heading.BuyPage-font30.BuyPage-dtd-brdr {
    padding: 5px;
  }
  .BoxAboutUs-Container {
    padding-left: 2vw;
  }
}
/* All-Colors: #P3.2 */
.BoxAboutUs-Container > tbody > tr > td > div {
  min-width: unset !important;
  width: 100% !important;
  /* width: 45.5vw !important; */
}
/* All-ColorsPalettes: #P1 */
.HomePage-AllColors-Palette {
  margin-bottom: 50px;
  padding-bottom: 10vw;
}
/* All-Years: #P1 */
.BoxAboutUs-Container > tbody > tr > td > div {
  max-width: 1000px;
}
/* Showcase: #P2 */
#showcase.articles-page-bg {
  display: flex;
  justify-content: center;
}
#showcase .ArtsDot-Content-Block {
  left: 0;
  width: 100vw;
  max-width: 1250px;
}
.WahooArt-Footer-Block {
  box-sizing: border-box;
  width: 100vw;
}
