/* Ce fichier .css gére la mise en forme du texte contenu dans le fichier .html */
#conteneur
{
	display: flex; /*mise en page avec flexbox*/
	//border: 2px solid black; /*bordure a activée pour vérifier le centrage vertical et horizontal*/
}
.element
{
	margin: auto; /*marge extérieure - centrage vertical et horizontal (flexbox)*/
	padding: 12px; /*marge intérieure*/
	font-size: 1.15em; /*taille de la police*/
	//border: 2px solid black; /*bordure a activée pour vérifier le centrage vertical et horizontal*/
}
img
{
	width: 100%; /* largeur */
	margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
	padding: 1px;  /*marge intérieure*/
}
*
{
	
	background-color: rgb(206,206,206);  /*couleur du fond*/
	//background-image: url('https://raw.githubusercontent.com/AIREL46/SCAO/master/Design/logo/quietcook-02.jpg');  /*image du fond*/
}
h1
{
	font-size: 2.25em;	
	
}
h2
{
	font-size: 2em;	
	
}
h3
{
	font-size: 1.75em;	
	
}
h4
{
	font-size: 1.5em;	
	
}
h5
{
	font-size: 1.25em;	
	
}
h6
{
	font-size: 1.125em;	
	
}
li
{
	font-size: 1.25em;	
	
}
p
{
	text-align=justify;
	font-size: 1.35em;	
}
caption
{
	font-size: 2.25em;
}
table

{
	text-align=center;
	border-collapse: collapse;
	font-size: 1.35em;
}

td, th /* Mettre une bordure sur les td ET les th */

{

	border: 2px solid black;

}

td
{
	text-align: center;
}
