/* Box 1 */
#box1{
    width: 100%;
    background-color:#1D1D2C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
    /* Box 1 - Title */
#box1 h1{
    color: #F7F4E9;
}
    /* Box 1 - container 1 */
#box1 div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%; 
    margin-bottom: 2%;
}
        /* Box 1 -  container 1 - image */
#box1 img{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
}
        /* Box 1 - container 1 - text paragraph */
#box1 p{
    text-align: center;
    margin-bottom: 5%;  
    font-family: 'slabo';
    font-size: 20px;
    color: #F7F4E9; 
}
#box1 p em{
    font-style: normal;
    font-weight: bold;
    text-decoration: underline 3px solid;
    text-decoration-color: #32c793;
}
        




@media screen and (min-width: 850px){

    /* Box 1 */
    /* Box 1 - h1 */
#box1 h1{
    font-size: 50px;
}
    /* Box 1 - container 1 */
#box1 div{
    width: 70%;
    flex-direction: row-reverse;    
    justify-content: space-between;
}
        /* Box 1 -  container 1 - image */
#box1 img{
    width: 27%;
    margin-top: 5%;
    margin-bottom: 5%;
}   
        /* Box 1 - container 1 - text paragraph */
#box1 p{
    margin-bottom: 0;  
    width: 50% ;
    align-items: center;
}


}