#background{
    width: 100%;
    background-color: #1D1D2C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    width: 100%;
    background-color: #F7F4E9;
    border-top: 2px #EEBB11 dashed;
    padding: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box h1{
    font-size: 34px;
    font-weight: bold;
    font-family: 'slabo';
    color: #A96107;
    margin: 8px 0 8px 0;
}
    /* Box - text */
.box p {
    width: 90%;
    font-size: 20px;
    font-family: 'slabo';
    color: #1D1D2C;
    margin: 10px 0 10px 0;
    text-align: center;
}
.box a{
    color: #a07640;
}
.box a:hover{
    text-decoration: underline;
    text-decoration-color: #40968e;
    color: #bd9057;
}
    /* Box Button */
.box button{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px 0px 10px 0px;
    margin: 20px 0 0px 0;
    background-color: #4DB6AC;
    border-radius: 24px;
    border: none;
}
.box button:hover{
    background-color: #42938b;
}
.box button p{
    margin: 0 0 0 0;
    color: white;
    font-size: 22px;
}

/* Box contact */
#hidden-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

/* Box rencontres culinaires */
#hidden-rencontres{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

/* Form Contact */
.form-contact{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-contact div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
}         
.form-contact input{
    border: none;
    background-color: #FFFFFF;
    width: 45%;
    padding-left: 15px;
    color: #1D1D2C;
    font-family: 'slabo';
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .2);
}
.form-contact input[type=text]{
    margin-right: 10%;
}
.form-contact::placeholder{
    color: #1D1D2C;
    font-family: 'slabo';
}
.form-contact textarea{
    border: none;
    background-color: #FFFFFF;
    width: 100%;
    color: #1D1D2C;
    font-family: 'slabo';
    font-size: 17px;    
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .2);
}
.form-contact input[type=submit]{
    color: #FFFFFF;
    background-color: #4DB6AC;
    font-size: 22px;
    width: 250px;
    padding: 10px 20px 10px 20px;
    border-radius: 24px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); 
}
.form-contact input[type=submit]:hover{
    background-color: #42938b;
}


/* Box Newsletter */
#box4{
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    /* Box 4 - Container */
#box4 div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
        /* Box 4 - Container - Text */
#box4 div p{
    width: 90%;
    margin-left: 0;
    color: #1D1D2C;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
        /* Box 4 - Container - Form */
#box4 div form{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
            /* Box 4 - Container - Form - Wrapper */
#box4 div form div{
    width: 60%;
    display: flex;
    flex-direction: column;
}
#box4 div form div input{
    border: none;
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 15px;
    color: #1D1D2C;
    font-family: 'slabo';
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}
#box4 div form input[type=submit]{
    color: #F7F4E9;
    background-color: #4DB6AC;
    font-size: 22px;
    font-family: 'slabo';
    width: 250px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); 
}
#box4 div form input[type=submit]:hover{
    background-color: #42938b;
}


/* Footer */
footer{
    background-color: #FFFFFF;
    border-color: #EEBB11;
}
footer a, p{
    color: #1D1D2C;
}

@media screen and (min-width: 850px){

    #background{
        padding-bottom: 50px;
    }
    
    .box{
        background-color: #FFFFFF;
        width: 70%;
        margin: 50px 0 0 0;
        border: none;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .8);
    }
    .box p{
        width: 65%;
    }

    /* Box - button */
    .box button {
        width: 250px;
    }

    /* Boxes Contact et Rencontres Culinaires */
    .form-contact{
        width: 65%;
    }

    /* Footer */
    footer{
        background-color: #1D1D2C;
        border-color: #FFFFFF;
    }

    footer a, p{
        color: #ffffff;
    }




}